name: Release PR Checks

on:
  pull_request:
    paths:
      - "pubspec.yaml"

jobs:
  cancel-previous:
    name: Cancel previous runs
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

  check:
    name: Detect version change
    runs-on: ubuntu-latest

    outputs:
      newVersion: ${{ steps.changes.outputs.newVersion }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Detect new version
        id: changes
        run: |
          NEW_VERSION="$(./versionChangeCheck.sh)"
          echo "New version if changed = '$NEW_VERSION'"
          echo ::set-output name=newVersion::$NEW_VERSION

  check-docs:
    name: Check docs
    runs-on: ubuntu-latest
    needs: ["check"]

    if: ${{ (needs.check.outputs.newVersion != '') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Calculate changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            docs:
              - "doc/**"

      - name: Fail if no docs changes
        if: ${{ steps.changes.outputs.docs == 'false' }}
        run: |
          echo "::error::Documentation should be updated when version is changed."
          exit 1
